
@{
    ViewData["Title"] = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@section header{
        @Styles.Render("~/Content/css")
    }*@
<!-- 左侧菜单选项========================================= -->
<div class="container-fluid">
    <div class="row-fluie">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/User/Add" class="nav-header menu-first collapsed" data-toggle="collapse"> <i class="fa fa-plus"></i>&nbsp;增加用户</a></li>
                <li><a href="/User/Update" class="nav-header menu-first collapsed" data-toggle="collapse"> <i class="fa fa-edit"></i>&nbsp;修改用户</a></li>
                <li><a href="/User/Delete" class="nav-header menu-first collapsed" data-toggle="collapse"> <i class="fa fa-remove"></i>&nbsp;删除用户</a></li>
                <li><a href="/User/List" class="nav-header menu-first collapsed" data-toggle="collapse"><i class="fa fa-search"></i>&nbsp;用户列表</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- 右侧内容展示==================================================   -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header"><i class="fa fa-cog fa-spin"></i>&nbsp;控制台<small>&nbsp;&nbsp;&nbsp;欢迎使用XXX后台管理系统</small></h1>

    <!-- 载入左侧菜单指向的jsp（或html等）页面内容 -->
    <div id="content">
        @RenderBody()
    </div>
</div>
@*@section scripts {
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
    }*@

