@{
    ViewData["Title"] = "联系";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewData["Title"].</h2>

<address>
    Xiangwei, Cai 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>技术支持:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>市场营销:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
